<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
       <link rel="stylesheet" href="cssfile/navstyle.css">
  </head>
  <body>
    {{>navbars}}
    <h1>Greatest man</h1>
    <h1>Best business man</h1>
    <h1>Best Programmer</h1>
    <h2 style="color: green;">Arif alam</h2>

  </body>
</html>