<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
       <link rel="stylesheet" href="cssfile/navstyle.css">
  </head>
  <body>
    {{>navbars}}

    <h1>Contact number</h1>
    <h2 style="color: green;">9167788884</h2>
  </body>
</html>