<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="cssfile/navstyle.css">
    <link rel="stylesheet" href="cssfile/index.css">
  </head>
  <body>
        {{>navbars}}

        <div>
            <a href="/admision">New Admision</a>
            <a href="/fees">Fees enquiry</a>
        </div>
  </body>
</html>